<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>연근마켓</title>
  <!-- 추가적인 스타일시트 및 스크립트를 여기에 추가하세요 -->
    <style>
        li{
            list-style: none;
        }
        img{
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
        }
        #productlist h3, p{
            margin: 0px;
        }
    </style>
</head>
<body>

<header>
  <h1>중고제품 거래 사이트</h1>
  <!-- 로그인, 회원가입 등의 네비게이션 링크 추가 -->
</header>

<main>
  <section id="product-list">
    <h2>중고제품 목록</h2>

    <!-- 실제로는 서버에서 가져온 중고제품 목록을 반복해서 표시해야 합니다. -->
      <ul id="productlist">
          <li th:each="product : ${products}">
              <img th:src="@{product.img}" alt="img">
              <p th:text="${product.title}">제품 제목</p>
              <h3 th:text="'가격: $' + ${product.price}">가격: $100</h3>
          </li>
      </ul>

    <!-- 페이지네이션을 위한 링크 -->
    <div id="pagination">
            <span th:if="${currentPage > 1}">
                <a th:href="@{/products(page=${currentPage - 1})}">이전 페이지</a>
            </span>
      <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/products(page=${i})}" th:text="${i}">1</a>
            </span>
      <span th:if="${currentPage < totalPages}">
                <a th:href="@{/products(page=${currentPage + 1})}">다음 페이지</a>
            </span>
    </div>
  </section>
</main>

<footer>
  <p>&copy; 2023 중고제품 거래 사이트</p>
</footer>

</body>
</html>
